@tailwind base;
@tailwind components;
@tailwind utilities;

.menu li > *:hover,
.menu li > *:focus,
.menu li > *:active {
  background-color: transparent !important;
}
.primary-text {
  color: #f2f4f7;
}
body {
  font-family: "Lexend", sans-serif;
}

.font-inter {
  font-family: "Inter", sans-serif;
}

.font-instrument {
  font-family: "Instrument Serif", serif;
}

.font-outfit {
  font-family: "Outfit", sans-serif;
}

.menu li a {
  background-color: transparent !important;
  box-shadow: none !important;
}
.menu li a:hover {
  background-color: transparent !important;
}
.menu li a:focus,
.menu li a:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.menu li summary:active {
  background-color: transparent !important;
  box-shadow: none !important;
  outline: none !important;
}
.dropdown-items-icon{
  background-color: rgb(211, 211, 211);
}
.dropdown-items-icon-sm{
  background-color: #fb4712;
}
.dropdown-item:hover 
.dropdown-items-icon{
  background-color: #fb4712;
  transition: all 0.4s linear;
}

.hero-trust {
  display: flex;
  align-items: center;
  border: 1px solid #fc7953;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 99px;
  padding: 5px 16px;
  gap: 6px;
}

/* Company logos slider */
@keyframes logo-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-logo-slider {
  animation: logo-slider 12s linear infinite;
}

/* Happy clients slider 1 */
@keyframes client-slider {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
.animate-client-slider {
  animation: client-slider 16s linear infinite;
}

/* Happy clients slider 2 */
@keyframes client-slider-reverse {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}
.animate-client-slider-reverse {
  animation: client-slider-reverse 16s linear infinite;
}

.how-obiram-works-card {
  border-radius: 20px;
  background: #fff;
  box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.04);
}
.button {
  border-radius: 12px;
  border: 1px solid #eaecf0;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05),
    0 4px 8px 0 rgba(255, 255, 255, 0.64) inset;
}
.button-orange {
 border-radius: 12px;
background: #FB4712;
box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05);
}
.why-obiram-icon {
  background: linear-gradient(136deg, #fc6c41 2.25%, #fb4712 93.29%);
  box-shadow: 0 2px 10px 0 rgba(255, 255, 255, 0.64) inset,
    0 16.448px 8.91px 0 rgba(0, 0, 0, 0.1);
}

.testimonial-card {
  border-radius: 24px;
border: 1px solid rgba(237, 237, 237, 0.40);
background: rgba(255, 255, 255, 0.04);
box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.05);
margin-bottom: 16px;

}

.bellow-testimonials-card{
   border-radius: 24px;
border: 1px solid rgba(237, 237, 237, 0.40);
background: rgba(255, 255, 255, 0.04);
box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.05);
}

.monthly-btn {
  border-radius: 12px;
background: #FB4712;
box-shadow: 0 1px 2px 0 rgba(16, 24, 40, 0.05), 0 4px 8px 0 rgba(255, 255, 255, 0.64) inset;
color: #FFFFFF;
padding: 12px 20px;
}
.card-one{
  border-radius: 28px;
border: 4px solid #FECDBF;
background: #FFF;
}
.card-two{
  border-radius: 28px;
background: #FFF;
box-shadow: 0 6px 33px 0 rgba(0, 0, 0, 0.06);
border: 4px solid #ffffff;
}
.card-two-logo-border{
 border-radius: 16px;
border: 1.5px solid #fc6d412d;
background: #FFF;
box-shadow: 5px 5px 10px 0 #FFF inset, 0 8px 10.91px 0 rgba(252, 108, 65, 0.06);
}
.card-two-logo{
 border-radius: 16px;

background: #FFF;
box-shadow: 5px 5px 10px 0 #FFF inset, 0 8px 10.91px 0 rgba(252, 108, 65, 0.06);
}
.price-card {
  width: 352px;
  border-radius: 18px;
border: 1px solid #F2F4F7;
background: rgba(255, 255, 255, 0.70);
box-shadow: 0 1px 16px 0 rgba(0, 0, 0, 0.06);
padding: 10px 20px 10px 0;
}
.card-top{
  border-radius: 24px;
background: linear-gradient(348deg, #FFEDE7 51.8%, #FDAA92 123.47%);
}
.get-plans-card {
  border-radius: 20px;
background: #FFF;
box-shadow: 0 5px 28px 0 rgba(0, 0, 0, 0.04);
}

.faq-card {
  border-radius: 14px;
border: 1px solid rgba(237, 237, 237, 0.40);
background:  #FFF;
box-shadow: 0 5px 22px 0 rgba(0, 0, 0, 0.04);
}
.social-icon {
background: rgba(255, 255, 255, 0.20);
backdrop-filter: blur(4px);
}
.footer-bd {
  border-radius: 8px;
background: linear-gradient(348deg, rgba(255, 237, 231, 0.28) 51.8%, rgba(253, 170, 146, 0.28) 123.47%);
box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.24) inset;
}
